* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
index.html body {
    font-family: 'Noto Serif', serif;
    background-color: #242424;
    color: white;
    line-height: 1.6;
}

header {
    background-color: #ee2b2a;
    padding: 1em;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

header a[href='index.html'] {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0;
}

header .navigation-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

header .navigation-links a.home-button {
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

header .navigation-links a.home-button:hover,
header .navigation-links a.home-button:focus {
    background-color: #b8bee3;
}
header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main {
    display: grid;
    grid-template-rows: auto;
    gap: 2rem;
    padding: 2rem;
    background-color: #242424;
    overflow: auto;
}

main #intro-section {
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center;
    gap: 20px;
}

main #intro-section #logo-image {
    width: 70%;
    height: auto;
    margin-left: auto;
}

main #intro-section #intro-text {
    width: 70%;
    padding: 1rem;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5em;
}

section#news-style-websites {
    display: grid;
    grid-template-columns: repeat(2, minmax(40%, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin-top: 2rem;
}

section#news-style-websites a.images-for-news {
    width: 100%;
    margin: 0.5rem;
    text-align: center;
    position: relative; /* Added for text overlay */
}

section#news-style-websites img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

section#news-style-websites a.images-for-news::after  {
    content: attr(href); /* Fetches the text from the href attribute */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; /* Covers the bottom 30% of the image */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    color: white;
    padding: 10px 0;
    text-align: center;
}



footer {
    background-color: #ee2b2a;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    margin: 1rem 0;
    display: flex; /* Changed from block to flex for horizontal alignment */
    justify-content: center; /* Centers the items horizontally */
}

.social-links img {
    max-width: 24px;
    margin:6px;
    height: auto;
}

footer .footer-link {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    header {
        flex-direction: column; /* Stacks items vertically on small screens */
    }

    main #top-section,
    section#new-style-websites {
        grid-template-columns: 1fr;
    }
}
