@import url('https://fonts.googleapis.com/css2&family=Verdana&family=Geneva&family=Tahoma:ital,wght@0,400;0,700;1,400&display=swap');
*{
    align-items: center;
}

:root{
    --primary_color: #4d5647;
    --primary_color-opacity: #4d564755;
    --secondary-color: #dac3a4;
    --background-color: #fafafa;
    --heading-font: Verdana, Geneva, Tahoma, serif;
    --paragraph-font: Tahoma, sans-serif;
    /* TO use as a variable to var(--primary_color)
       To have a css rule affect the same element, 
       nav > a the ">" means that it is a direct descendant of the nav
       Descendants of parents are child, grandchild and great-grandchild
       when there is a space after a selector, it will apply to that at any level 
       of descendancy. If you use direct descendant, it will only get the directly
       below. 
       
       You can specify the specific descendancy by doing nav > ol > li > a
       It only applies to that specifically if there is one exactly the same, 
       but an ul, it will not apply to that one.*/
}
main{
    align-text: center;
}
body{
    background-color: #dac2a4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{ margin: 0;
    padding-top: 10px;
    align-items: center;
    
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    color: black;
    text-decoration: none;
    padding: 35px;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1{
    text-align: center;
} 
#hero-msg h4{
    text-align: center;
    color: white;
}
#hero-img{
    width: 100%;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    display: flex;
    background-color: #dac2a4;
    color: #fcfafb;
    height: 745px;
    z-index: -2;
}
body {
    background-color: #fcfafb;
    color: black;
}
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #586054;
    color: #fcfafb;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #fcfafb;
    color: #0e4066;
}
.book, .join{
    text-align: center;
    background-color: #586054;
    color: #fcfafb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img{
    border: 10px;
    border-color: #dac3a4;
    border-style: solid;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #dac3a4;
    width: 100%;
    max-width: 400px;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img{
    box-sizing: border-box;
}
.book:hover, .joing:hover{
    background-color: #fcfafb;
    color: black;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
}
.join:hover{
    background-color: white;
    color: #586054;
    font-size: 18px;
}
h4{
    color: #fcfafb;
}
.home-title{
    color: #fcfafb;
    font-family: "Fira Sans", "Noto serif", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.msg{
    background-color: #586054;
    padding: 35px;
    line-height: 1.5em;
    padding-bottom: 15px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #dac3a4;
}
.msg h2{
    color: #fcfafb;
    font-family: 'Fira Sans', sans-serif;
    align-items: center;
    /* font-size: 22px; */
}
.msg p{
    color: #EDF5E1;
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color: #586054;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    color: #EDF5E1;
    
}
footer p{
    font-size: 1.2em;
}
footer a{
    color: #fcfafb;
    text-decoration: none;
}
footer p a:hover{
    text-decoration: underline;
}
footer a:hover{
    color: #fcfafb;
}
footer .social img {
    padding-top: 15px
}
.logo{
    width: 80px;
}

.icon{
    width: 80px;
    padding-top: 10px;
    align-items: center;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.rivers-card{
    width: 100%;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    width: 100%;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    width: 100%;
    grid-column: 8/10;
    grid-row: 2/3;
}
#background{
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #dac3a4;
}

.links{
    text-decoration: none;   
}


#logo_link{ 
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/* This is the CSS for the subpage: RIVERS

.rivers-grid is the class for the grid on the page
.salmon-card
.canyon-card
.blog-card

class subpage images
*/
.rivers-grid {
    max-width: 2080px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}
.salmon-card {
    grid-column: 1/2;
    text-align: center;
}


.canyon-card {
    grid-column: 2/3;
    text-align: center;
}

.blog-card {
    grid-column: 3/4;
    text-align: center;
}

.subpage-img{
    align-items: center;
    max-width: 100%;
    margin: 1em;
    padding: 1em;
}
.box-background{
    /* display: grid;
     /* 5 columns by three rows. *//*
    grid-template-columns: 10% 35% 10% 35% 10%;
    grid-template-rows: 20% 60% 20%; */
}
.box-img {
    /* grid-column-start: ;
    grid-row: ; */
}

@media screen and (max-width: 900px) {
    #hero, .home-grid, .rivers-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}


/* --headline-color-on-white: #05386B;  /* headlines on a white background */ 
  /* --headline-color-on-color: #EDF5E1; /* headlines on a colored background */ 
  /* --paragraph-color-on-white: #362C28; /* paragraph text on a white background */ 
 /* --paragraph-color-on-color: #362C28; paragraph text on a colored background  
  --paragraph-background-color: #D4FCC3  ;
  --nav-link-color:  #white;
  --nav-background-color: #05386B;
  --nav-hover-link-color: #05386B;
  --nav-hover-background-color: #white */